*{
	margin:0;
	padding: 0;
	font-family: cursive;
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
.frame{
	height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("./delivery5.jpg");
	background-position: center;
	background-size: cover;
	position: absolute;
}
.form-box{
	width: 380px;
	height: 480px;
	position: relative;
	margin:6% auto;
	background:linear-gradient(to bottom, white,white);
	padding: 5px;
	overflow: hidden;
}
.button-box{
	width:220px;
	margin:35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius:30px; 
}
.toggle-btn{
	padding : 10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline:none;
	position: relative;

}
#btn{
	top:0;
	left:0;
	position: absolute;
	width: 110px;
	/* width: 220px; */
	height:100%;
	background:linear-gradient(to right,red,orange);
	border-radius: 30px;
	transition: 0.5s;
}

.input-group{
	top:130px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}
.input-field{
	width: 100%;
	padding:10px 0px;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline:none;
	background:transparent;
}
.submit-btn{

	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right,red,orange);
	border:0;
	outline: none;
	border-radius: 30px;
}

.check-box{
	margin: 30px 10px 0px; 
}
label{
	font-family: sans-serif;
	font-size: 14px;
}

#login{
	left:50px;
}
#register{
	left:450px;
}